# Host configuration
HOST=localhost

# Database credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=appdb

# Forgejo database configuration
FORGEJO_DB_TYPE=postgres
FORGEJO_DB_HOST=postgres:5432
FORGEJO_DB_NAME=appdb
FORGEJO_DB_USER=admin
FORGEJO_DB_PASSWD=change_me

# Forgejo initial administrator account
FORGEJO_ADMIN_USERNAME=admin_user
FORGEJO_ADMIN_PASSWORD=change_me_admin
FORGEJO_ADMIN_EMAIL=admin@example.com

# Forgejo misc configuration
FORGEJO_SHARED_SECRET=b769ff36348025549aacb2805d449dccfc282d38 # openssl rand -hex 20

# Keycloak initial administrator (used by the Keycloak container on first-run)
# Set these to secure values before starting the stack
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_keycloak